.info{
    width: 100%;
    height: 80vh;
    background: #2F3030;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-info{
    width: 75%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.info-h{
    width: 95%;
    font-size: 30px !important;
    color: white !important;
    font-weight: 600;
    text-align: center;
}
.paragraphs{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.lower-header{
    font-size: 13px;
    color: white;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: monospace;
}
.lis{
    width: 90%;
    color: white;
}


.patetner{
    position: relative;
    width: 100%;
    height: 45vh;
    background: rgb(239, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}
.patetner-control-div{
    width: 75%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lower-header:nth-child(1){
    color: #676767;
    letter-spacing: 0.5rem;
}
.header{
    font-size: 35px !important;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.patetner-variants{
    width: 100%;
    height: 25%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    .info{
        height: 100vh;
    }
    .inner-info{
        width: 90%;
        height: 95%;
    }
    .patetner-variants{
        flex-wrap: wrap;
    }
}