header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-control-div{
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.div-1{
    width: 55%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: fadeIn 0.5s ease-in-out;
}
.header-link{
    padding: 8px 35px;
    background-color: white;
    border: 1px solid white;
    color: #F00000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link:hover{
    background: transparent;
    color: #F00000;
    transition: 0.3s;
}
.div-2{
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.5)
}
.opacity-div{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;

}

@media (max-width: 1000px) {
    .div-2{
        display: none;
    }
    .header-control-div{
        width: 90%;
    }
}