.patet-card{
    position: relative;
    width: 30%;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.patet-card p{
    margin: 0;
}
.card-icon{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-info{
    width: 85%;
    padding-left: 15px;
}
.card-name{
    font-size: 20px;
    font-weight: lighter;
}
.card-price{
    font-size: 13px;
    font-weight: lighter;
}
.hover-div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}
.patet-card:hover .hover-div{
    display: flex;
    animation: fadeInSlideLeft 0.3s ease-in-out;
}


@keyframes fadeInSlideLeft {
    0%{
        opacity: 0;
        padding-left: 50%;
    }
    100%{
        opacity: 1;
        padding-left: 0;
    }
}

@media (max-width: 1000px) {
    .patet-card{
        width: 45%;
        margin-bottom: 10px;
    }
}