footer{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
}
.social-info-foot a{
    color: #f00000;
}
.footer-links{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-info-foot{
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.footer-links-div-1{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links-div-1 a{
    margin-top: 15px;
    color: black;
}
.footer-links-div-2{
    width: 100%;
    height: 10%;
}
.footer-div-1{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer-div-2{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer-div-3{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .footer-links{
        width: 80%;
    }
    .social-info-foot{
        width: 300px;
        align-items: unset;
        margin-top: 20px;
    }
    .footer-links-div-1{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: fit-content;
    }
    .footer-links-div-2{
        height: 20%;
        
    }
    .footer-div-1{
        width: fit-content;
        height: unset;
    }
    .footer-div-2{
        width: fit-content;
        height: unset;
    }
    .footer-div-3{
        width: fit-content;
        height: unset;
    }
}