.comment-card{
    width: 50%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.profile-picture{
    width: 200px;
    height: 200px;
}
.profile-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.comment-text{
    padding-left: 15px;
    text-align: center;
    color: rgb(51, 51, 51);
    border-left: 2px solid #ccc;
}

@media (max-width: 1000px) {
    .comment-card{
        width: 95%;
    }
}