*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');