nav{
    position: fixed;
    width: 100%;
    height: 9vh;
    background: white;
    display: flex;
    justify-content: center;
    z-index: 3;
}
nav a{
    color: #F00000;

}
nav a:hover{
    cursor: pointer;
    color: #F00000;
}
.control-div{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-picture{
    width: 100%;
}
.logo-picture img{
    width: 100%;
}
.tester-select{
    display: none;
    position: absolute;
    top: 45px;
    box-shadow: 0 0 5px black;
}
.tester:hover + .tester-select{
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}
.tester-select:hover{
    display: block;
}
.menu{
    height: 250px;
    background: #1F2020;
    color: white;
    padding: 10px 30px;
}
.menu a{
    width: 100%;
    color: white;
}
ul{
    margin: 0;
}
.menu li{
    width: 100% !important;
    font-weight: normal;
    list-style-type: none;
    width: max-content;
    height: 25%;
    display: flex;
    align-items: center;
    border-top: 1px solid #383838;
}
.menu li:first-child{
    border-top: none;
}
.menu a:hover{
    color: #F00000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.links{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-info{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
}
.side-menu{
    position: fixed;
    right: 0;
    background: white;
    width: 45%;
    height: 100vh;
    flex-direction: column;
    padding-left: 3%;
    padding-top: 20%;
    font-size: 20px;
}
.side-menu-icon{
    display: none;
}

@media (max-width: 1000px) {
    .social-info{
        display: none;
    }
    .links{
        display: none;
    }
    .logo{
        width: 50%;
        padding-left: 3%;
    }
    .control-div{
        justify-content: space-between;
    }
    .tester-select-type-menu{
        display: flex;
        position: unset;
        box-shadow: none;
    }
    .menu{
        background: transparent;
    }
    .menu a{
        color: #F00000;
    }
    .menu li{
        border-top: none;
    }

    .side-menu-icon{
        display: flex;
        margin-right: 3%;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(35px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
